[bug]: chan_sip honors increased session timer refresh interval from UAS

### Severity

Trivial

### Versions

20

### Components/Modules

chan_sip

### Operating Environment

```
Distributor ID: Ubuntu
Description:    Ubuntu 26.04 LTS
Release:        26.04
Codename:       resolute
```

### Frequency of Occurrence

Constant

### Issue Description

[RFC 4028 Section 9](https://www.rfc-editor.org/info/rfc4028/#section-9) says, in part:

> The UAS MUST NOT increase the value of the Session-Expires header field.

But when Asterisk under chan_sip is acting as a UAC, it accepts an increased refresh interval and updates its timer.



### Relevant log output

```shell

```

### Asterisk Issue Guidelines

- [x] Yes, I have read the Asterisk Issue Guidelines

Oh GitHub, why didn't you close this issue when the PR merged???


> Oh GitHub, why didn't you close this issue when the PR merged???

[Because it was not against the default branch
](https://docs.github.com/en/issues/tracking-your-work-with-issues/using-issues/linking-a-pull-request-to-an-issue#about-linked-issues-and-pull-requests)


Yeah, it was a rhetorical question based on my current level of irritation with GitHub.  

Of course they still commented...
<img width="807" height="64" alt="Image" src="https://github.com/user-attachments/assets/6266d7ef-0417-4f82-ac72-8d57bedf2522" />
