[new-feature]: core/ari/pjsip: Add refer mechanism to refer endpoints to some resource

### Feature Description

Currently, Asterisk can refer endpoints to some resource or URI only during a call using the Transfer application. However, there are use cases which require out-of-dialog refers for click to dial or remote dial scenarios.

For the PJSIP technology for example, out-of-dialog REFERs provide this functionality, and this scenario is described in RFC 5359, [section 2.18](https://www.rfc-editor.org/rfc/rfc5359.html#section-2.18).

A new ARI resource for endpoints (possibly /endpoints/refer with similar parameters to the sendMessage endpoint) could provide this feature.