[bug]: Problems with video decoding due to RTP marker bit set

### Severity

Blocker

### Versions

22.2.0

### Components/Modules

res_rtp_asterisk

### Operating Environment

Debian 11 "bullseye" x86_64

### Frequency of Occurrence

Frequent

### Issue Description

The change #912 causes video issues when a large RTP timestamp skew is detected in Asterisk which now results in the marker bit being set in the RTP header. This is not how the marker bit is intended to be used, especially not for video data and it can break the video decoder of the UA receiving the video stream.

In [RFC 3550 section 5.1](https://datatracker.ietf.org/doc/html/rfc3550#section-5.1):

```
   marker (M): 1 bit
      The interpretation of the marker is defined by a profile.  It is
      intended to allow significant events such as frame boundaries to
      be marked in the packet stream.
```

So the usage of the marker bit is defined by the RTP profile, which is a mandatory companion document to RFC 3550. One of those is for example [RFC 3551](https://datatracker.ietf.org/doc/html/rfc3551). For audio, in [section 4.1](https://datatracker.ietf.org/doc/html/rfc3551#section-4.1):

```
   For applications which send either no packets or occasional comfort-
   noise packets during silence, the first packet of a talkspurt, that
   is, the first packet after a silence period during which packets have
   not been transmitted contiguously, SHOULD be distinguished by setting
   the marker bit in the RTP data header to one.  The marker bit in all
   other packets is zero.  The beginning of a talkspurt MAY be used to
   adjust the playout delay to reflect changing network delays.
   Applications without silence suppression MUST set the marker bit to
   zero.
```

For video in [section 5](https://datatracker.ietf.org/doc/html/rfc3551#section-5):

```
   Most of these video encodings also specify that the marker bit of the
   RTP header SHOULD be set to one in the last packet of a video frame
   and otherwise set to zero.
```

And specifically for the H.264 video codec in [RFC 6184 section 5.1](https://datatracker.ietf.org/doc/html/rfc6184#section-5.1):

```
   Marker bit (M): 1 bit
      Set for the very last packet of the access unit indicated by the
      RTP timestamp, in line with the normal use of the M bit in video
      formats, to allow an efficient playout buffer handling.  For
      aggregation packets (STAP and MTAP), the marker bit in the RTP
      header MUST be set to the value that the marker bit of the last
      NAL unit of the aggregation packet would have been if it were
      transported in its own RTP packet.  Decoders MAY use this bit as
      an early indication of the last packet of an access unit but MUST
      NOT rely on this property.
```

So the change in #912 of unconditionally setting the marker bit when a large timestamp skew is detected does not make much sense and breaks things. This change must be reverted and the reporter's issue #927 must be fixed differently.

### Asterisk Issue Guidelines

- [x] Yes, I have read the Asterisk Issue Guidelines